body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #84817a;
  height: 100vh;
  width: 100vw;
  color: white;
}

header {
  display: block;
  padding: 2px 5px;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  font-weight: 500;
}

main {
  display: flex;
  align-items: center;
}

aside {
  position: absolute;
  top: 8px;
  left: 8px;
}

footer {
  display: flex;
  justify-content: center;
}
