@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Indie+Flower&family=Squada+One&display=swap");

@import "reset.css";
@import "display.css";
@import "background.css";
@import "clock.css";
@import "welcome.css";
@import "todos.css";
@import "navigation.css";

body {
  font-family: "Bree Serif", serif;
}
header {
  font-family: "Squada One", cursive;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
